{{ partial "header" . }}

<section class="section">
  <div class="container">

  	{{ $feed := .Paginate (where .Site.RegularPages "Type" "news") }}
  
    {{ range $feed.Pages.GroupByDate "2 Jan 2006"  }}
    <h2 class="text-center">~ {{ .Key }} ~</h2>
	     {{ range .Pages   }}
		<div class="list-group">
		  <a href="{{ .Params.link }}" target="_BLANK" class="list-group-item">
		    <h4 class="list-group-item-heading">{{ .Title }}</h4>
		    <p class="list-group-item-text hidden-xs">{{ .Params.author }}<span class="pull-right">{{ .Params.source_name }}</span>  </p>
		  </a>
		</div>
	    {{ end }}
    {{ end }}
    <center>
    {{ template "_internal/pagination.html" . }}
</center>
  </div>
</section>

{{ partial "footer" . }}
